@import "../header/header";

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero__container {
	.hero__img img {
		width: 128px;
	}
}

@media (min-width: 767px) {
}

@media (min-width: 1440px) {
}
