@import "../root.scss";
@import "../header/header.scss";
@import "../footer/footer";

body {
	box-sizing: border-box;
	margin: 0;
	background-color: var(--bg-body);
	background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
	background-repeat: no-repeat;
	background-position-x: 250px;
	background-position-y: -350px;
	background-size: 100%;
}
