@import "../root.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer";
@import "../components/CTA/cta.scss";

body {
	box-sizing: border-box;
	margin: 0;
	background-color: var(--bg-body);
	background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
	background-repeat: no-repeat;
	background-position-x: 250px;
	background-position-y: -320px;
	background-size: 100%;
	font-size: 16px;

	@media (min-width: 768px) {
		background-position-x: 575px;
		background-position-y: -600px;
	}
}

.pricing {
	.pricing__container {
		display: flex;
		flex-direction: column;
		text-align: center;
		h1 {
			color: var(--text2);
			font-size: clamp(
				2rem,
				1.471830985915493rem + 2.253521126760563vw,
				3.5rem
			);
		}

		.pricing__items {
			.pricing__item {
				.pricing__title {
					font-weight: 400;
					color: var(--bg-pink-200);
					margin-bottom: 5.063rem;
				}

				.pricing__content {
					display: none;
				}

				.pricing__price {
					color: var(--text2);
					font-size: clamp(
						3rem,
						3.676056338028169rem + -0.7511737089201878vw,
						3.5rem
					);
				}

				ul {
					list-style: none;
					text-align: left;
					max-width: 9rem;
					padding: 24px 0;
					margin: 0 auto;

					li:not(.checked) {
						color: var(--text2);
						opacity: 0.5;
						margin-left: 36px;
						margin-bottom: 8px;
					}
					.checked {
						color: var(--text2);
						margin-bottom: 8px;
						&::before {
							content: "";
							display: inline-block;
							margin-right: 24px;
							width: 12px;
							height: 8px;
							background-image: url("../../assets/shared/desktop/icon-check.svg");
							background-size: cover;
						}
					}
				}

				button {
					font-weight: bold;
					margin-top: 24px;
					background-color: transparent;
					border-radius: 50px;
					font-size: 15px;
					padding: 16px 28px;
					border: 1px solid var(--text2);
					color: var(--text2);
				}

				&:nth-child(2) {
					margin: 3rem 0;
				}
			}
		}
	}
	@media (min-width: 768px) {
		.pricing__container {
			h1 {
				margin-bottom: 4.313rem;
			}
			.pricing__items {
				display: flex;
				justify-content: space-around;
				.pricing__item {
					.pricing__title {
						margin-bottom: 0;
					}
					&:nth-child(2) {
						margin: 0;
					}

					.pricing__content {
						font-size: 15px;
						color: var(--bg-blue-100);
						max-width: 24ch;
						display: block;
					}
				}
			}
		}
	}

	@media (min-width: 1440px) {
	}
}
