@import "../root.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";
@import "../components/CTA/cta.scss";

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-body);

	background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
	background-repeat: no-repeat;
	background-position: 100px -658px;

	@media (min-width: 768px) {
		background-position: 400px -813px;
	}
	@media (min-width: 1440px) {
		background-position: 990px -600px;
	}
}

.about {
	.about__container {
		.about__title {
			font-size: clamp(
				2rem,
				1.471830985915493rem + 2.253521126760563vw,
				3.5rem
			);
			color: var(--text2);
			text-align: center;
			max-width: 15ch;
			margin-inline: auto;
			margin-bottom: 2.5rem;
		}

		.about__details {
			text-align: center;
			.about__details--title {
				font-size: clamp(
					1.5rem,
					1.323943661971831rem + 0.7511737089201878vw,
					2rem
				);
				color: var(--text2);
			}
			.about__details--content {
				font-size: 15px;
				color: var(--bg-blue-100);
			}

			.about--1,
			.about--2 {
				margin-bottom: 3rem;
			}
		}
	}
	.about__hero {
		img {
			margin: 4.75rem 0 3rem 0;
			max-width: 100%;
		}
	}

	.about__metrics {
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.metric {
			h2 {
				margin-top: 0;
				font-weight: bold;
				font-size: 3.5rem;
				color: var(--bg-pink-200);
			}
			.title {
				margin-bottom: 1.5rem;
				font-weight: normal;
				font-size: 1rem;
				color: var(--bg-blue-100);
			}
		}

		&::before {
			content: "";
			width: 100%;
			height: 1px;
			background-color: var(--bg-blue-100);
			opacity: 0.5;
		}
		&::after {
			content: "";
			width: 100%;
			height: 1px;
			background-color: var(--bg-blue-100);
			opacity: 0.3;
		}
	}

	@media (min-width: 768px) {
		.about__container {
			.about__title {
				max-width: 24ch;
				line-height: 50px;
			}

			.about__details {
				text-align: left;

				.about__details--title {
					margin-top: 0;
				}
				.about__details--wrap {
					display: grid;
					grid-template-columns: 230px 1fr;
				}
			}
		}

		.about__metrics {
			flex-direction: row;
			justify-content: space-between;

			.metric {
				border-top: 1px solid rgb(151, 151, 151, 0.5);
				border-bottom: 1px solid rgb(151, 151, 151, 0.5);

				h2 {
					margin-top: 0.83em;
				}
				.title {
					display: none;
				}
			}
			&::before,
			&::after {
				content: none;
			}
		}
	}

	@media (min-width: 1440px) {
		background-image: url("../../assets/shared/desktop/bg-pattern-circle.svg");
		background-repeat: no-repeat;
		background-size: 50%;
		background-position-y: 410px;
		background-position-x: -500px;
		.about__container {
			max-width: 920px;
			margin-inline: auto;

			.about__title {
				line-height: 56px;
				text-align: left;
				max-width: 24ch;
				margin-inline: 0;
				margin-bottom: 70px;
			}
			.about__details--wrap {
				.about__details--content {
					margin: 0;
				}
			}
			.about__details--wrap:nth-child(1) {
				margin-bottom: 56px;
			}
		}
		.about__hero {
			img {
				width: 100%;
				max-width: 100%;
			}
		}
	}
}
