@import "../root.scss";
@import "../components/header/header";
@import "../components/CTA/cta";
@import "../components/footer/footer";
body {
}

.checkbox-container {
	display: flex;
	align-items: center;
}

.checkbox-container label {
	margin-left: 10px;
}
