@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100;400&display=swap");
:root {
  --bg-pink-100: hsl(337, 60%, 64%);
  --bg-pink-200: hsl(337, 48%, 49%);
  --bg-body: #edf3f8;
  --bg-blue-100: hsl(207, 16%, 50%);
  --bg-blue-200: #1b262f;
  --text1: #fbfcfe;
  --text2: hsl(207, 33%, 32%);
  --fs-body: 0.938rem;
  --fs-72: 4.5rem;
  --fs-56: 3.5rem;
  --fs-48: 3rem;
  --fs-32: 2rem;
  --fs-25: 1.6rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --container: 69.375rem;
}

html {
  box-sizing: border-box;
  font-size: var(--fs-body);
  line-height: 28px;
  font-family: "Public Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

.wrapper {
  width: calc(100% - 3rem);
  max-width: var(--container);
  margin-inline: auto;
}

@media (min-width: 768px) {
  body {
    background-size: 1100px 1100px;
    background-position: center -700px;
  }
  .wrapper {
    width: calc(100% - 4.87rem);
  }
}
@media (min-width: 1440px) {
  body {
    background-size: 900px 900px;
    background-position: 890px -237px;
  }
}
header {
  padding: 2.5rem 0;
}
header .wrapper .header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  z-index: 2;
  padding: min(30vh, 10rem) 2em;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 21%;
  background: var(--bg-blue-200);
  transform: translateX(100%);
}
header .wrapper nav ul[data-visible=true] {
  transition: transform 350ms ease-out;
  transform: translateX(0%);
}
header .wrapper nav ul[data-visible=true] li {
  margin-bottom: 24px;
  font-weight: bold;
}
header .wrapper nav ul[data-visible=true] li a {
  text-decoration: none;
  color: var(--text1);
}
header .wrapper nav .CTA-button {
  font-size: var(--fs-body);
  width: 100%;
  margin-top: 0.438rem;
  font-weight: bold;
  color: var(--text1);
  border: none;
  border-radius: 50px;
  padding: 16px 36px;
  background-color: var(--bg-pink-200);
}
header .wrapper .mobile-nav-toggle {
  display: block;
  background-color: transparent;
  background-image: url("../../assets/shared/mobile/menu.svg");
  background-repeat: no-repeat;
  border: 0;
  z-index: 9999;
  position: absolute;
  width: 2rem;
  top: 0.7rem;
  right: 0;
  aspect-ratio: 1;
}
header .wrapper .mobile-nav-toggle[aria-expanded=true] {
  background-image: url("../../assets/shared/mobile/close.svg");
}
header .wrapper .sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@media (min-width: 768px) {
  header .wrapper nav {
    display: flex;
    justify-content: space-between;
  }
  header .wrapper nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    transform: none;
    padding: 0;
    background: none;
    inset: 0;
    padding-left: 1rem;
  }
  header .wrapper nav ul li {
    margin-left: 2.5rem;
  }
  header .wrapper nav ul li a {
    font-size: var(--fs-20);
    font-weight: bold;
    color: var(--text2);
    text-decoration: none;
  }
  header .wrapper nav ul .CTA-button {
    margin-left: 5.25rem;
    margin-right: 0;
    margin-top: 0;
  }
  header .wrapper .mobile-nav-toggle {
    display: none;
  }
}
@media (min-width: 1440px) {
  header .wrapper nav ul .CTA-button {
    margin-left: 25rem;
  }
}

:root {
  --bg-pink-100: hsl(337, 60%, 64%);
  --bg-pink-200: hsl(337, 48%, 49%);
  --bg-body: #edf3f8;
  --bg-blue-100: hsl(207, 16%, 50%);
  --bg-blue-200: #1b262f;
  --text1: #fbfcfe;
  --text2: hsl(207, 33%, 32%);
  --fs-body: 0.938rem;
  --fs-72: 4.5rem;
  --fs-56: 3.5rem;
  --fs-48: 3rem;
  --fs-32: 2rem;
  --fs-25: 1.6rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --container: 69.375rem;
}

html {
  box-sizing: border-box;
  font-size: var(--fs-body);
  line-height: 28px;
  font-family: "Public Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

.wrapper {
  width: calc(100% - 3rem);
  max-width: var(--container);
  margin-inline: auto;
}

@media (min-width: 768px) {
  body {
    background-size: 1100px 1100px;
    background-position: center -700px;
  }
  .wrapper {
    width: calc(100% - 4.87rem);
  }
}
@media (min-width: 1440px) {
  body {
    background-size: 900px 900px;
    background-position: 890px -237px;
  }
}
footer {
  background-color: var(--bg-blue-200);
}
footer .footer__container {
  text-align: center;
  padding: 2.563rem 0 3.438rem 0;
}
footer .footer__container .footer__nav {
  text-align: center;
}
footer .footer__container .footer__nav nav {
  margin: 2.5rem 0;
}
footer .footer__container .footer__nav nav ul {
  padding-left: 0;
  list-style: none;
}
footer .footer__container .footer__nav nav ul li {
  margin-bottom: 1.938rem;
}
footer .footer__container .footer__nav nav ul li a {
  font-weight: bold;
  opacity: 0.7;
  color: var(--text1);
  text-decoration: none;
}
footer .footer__container .footer__social {
  display: flex;
  justify-content: center;
}
footer .footer__container .footer__social img:nth-child(2) {
  margin-inline: 1.5rem;
}
@media (min-width: 768px) {
  footer .footer__container {
    display: flex;
    justify-content: space-between;
    padding: 1.938rem 0;
  }
  footer .footer__container .footer__nav {
    display: flex;
  }
  footer .footer__container .footer__nav nav {
    display: flex;
    margin: 0 0 0 4rem;
  }
  footer .footer__container .footer__nav nav ul {
    margin: 0;
    display: flex;
    align-items: center;
  }
  footer .footer__container .footer__nav nav ul li {
    margin-bottom: 0;
  }
  footer .footer__container .footer__nav nav ul li:nth-child(2) {
    margin-inline: 2.5rem;
  }
}

.contact {
  margin: 5rem 0;
}
.contact .contact__container {
  text-align: center;
}
.contact .contact__container h2 {
  margin-top: 0;
  color: var(--text2);
  letter-spacing: -0.25px;
  font-weight: 400;
  font-size: clamp(32px, 2rem + (1vw - 3.75px) * 3.7559, 72px);
  line-height: 36px;
}
.contact .contact__container form {
  display: flex;
  flex-direction: column;
}
.contact .contact__container form .input-group {
  display: flex;
  flex-direction: column;
}
.contact .contact__container form .input-group input {
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  -moz-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  margin-bottom: 1rem;
}
.contact .contact__container form .input-group input::-moz-placeholder {
  font-weight: bold;
}
.contact .contact__container form .input-group input::placeholder {
  font-weight: bold;
}
.contact .contact__container form .input-group input,
.contact .contact__container form .input-group button {
  font-size: 0.938rem;
  padding: 16px 27px;
  border: none;
  border-radius: 50px;
}
.contact .contact__container form .input-group button {
  font-weight: bold;
  color: var(--text1);
  background-color: var(--bg-pink-200);
}
@media (min-width: 768px) {
  .contact {
    margin: 6.25rem 0;
  }
  .contact .contact__container h2 {
    line-height: 56px;
  }
  .contact .contact__container form {
    display: inline-flex;
  }
  .contact .contact__container form .input-group {
    position: relative;
    display: inline-block;
  }
  .contact .contact__container form .input-group input,
  .contact .contact__container form .input-group button {
    border: none;
    border-radius: 50px;
  }
  .contact .contact__container form .input-group input {
    padding-right: 16rem; /* Adjust the padding as per your preference */
  }
  .contact .contact__container form .input-group button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1440px) {
  .contact .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact .contact__container h2 {
    line-height: 72px;
    margin-bottom: 0;
  }
  .contact .contact__container form .input-group input {
    margin-bottom: 0;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--bg-body);
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: center -500px;
}

.hero .hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero__container .hero__img {
  margin-left: 1.5rem;
  width: 55%;
  max-width: 80%;
}
.hero .hero__container .hero__content {
  text-align: center;
}
.hero .hero__container .hero__content h1 {
  margin-top: 0;
  color: var(--text2);
  max-width: 20ch;
  letter-spacing: -0.25px;
  font-weight: 400;
  font-size: clamp(32px, 2rem + (1vw - 3.75px) * 3.7559, 72px);
  line-height: 36px;
}
.hero .hero__container .hero__content form {
  display: flex;
  flex-direction: column;
}
.hero .hero__container .hero__content form .input-group {
  display: flex;
  flex-direction: column;
}
.hero .hero__container .hero__content form .input-group input {
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  -moz-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  margin-bottom: 1rem;
}
.hero .hero__container .hero__content form .input-group input::-moz-placeholder {
  font-weight: bold;
}
.hero .hero__container .hero__content form .input-group input::placeholder {
  font-weight: bold;
}
.hero .hero__container .hero__content form .input-group input,
.hero .hero__container .hero__content form .input-group button {
  font-size: 0.938rem;
  padding: 1rem 1.688rem;
  border: none;
  border-radius: 50px;
}
.hero .hero__container .hero__content form .input-group button {
  font-weight: bold;
  color: var(--text1);
  background-color: var(--bg-pink-200);
}
.hero .hero__container .hero__content form p {
  color: var(--text2);
}
@media (min-width: 767px) {
  .hero .hero__container .hero__img {
    width: 43%;
  }
  .hero .hero__container .hero__content h1 {
    max-width: 21ch;
    line-height: 56px;
  }
  .hero .hero__container .hero__content form {
    display: inline-flex;
  }
  .hero .hero__container .hero__content form .input-group {
    position: relative;
    display: inline-block;
  }
  .hero .hero__container .hero__content form .input-group input,
  .hero .hero__container .hero__content form .input-group button {
    border: none;
    border-radius: 50px;
  }
  .hero .hero__container .hero__content form .input-group input {
    padding-right: 16rem; /* Adjust the padding as per your preference */
  }
  .hero .hero__container .hero__content form .input-group button {
    position: absolute;
    top: 0;
    right: 0;
  }
  .hero .hero__container .hero__content form p {
    margin: 0;
  }
  .hero .hero__container .hero__content form p span {
    font-weight: bold;
  }
}
@media (min-width: 1440px) {
  .hero .hero__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hero .hero__container .hero__img {
    width: 40%;
    order: 2;
  }
  .hero .hero__container .hero__content {
    text-align: left;
  }
  .hero .hero__container .hero__content h1 {
    max-width: 15ch;
    line-height: 72px;
  }
  .hero .hero__container .hero__content form p {
    margin-left: 25px;
  }
}

.companies {
  background: var(--bg-blue-200);
  background-image: url("/assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-size: 700px 700px;
  background-position: center -480px;
  color: var(--text1);
  margin: 5rem 0;
  padding: 5rem 0;
}
.companies .companies__container .companies__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 40px;
}
.companies .companies__container .companies__content {
  text-align: center;
}
.companies .companies__container .companies__content h2 {
  margin-top: 3.5rem;
  font-weight: normal;
  font-size: clamp(32px, 2rem + (1vw - 3.75px) * 1.5023, 48px);
}
.companies .companies__container .companies__content p {
  margin: 1rem 0 2rem 0;
  line-height: 28px;
  color: var(--text1);
  opacity: 0.6;
}
.companies .companies__container .companies__content button {
  font-weight: bold;
  color: var(--text1);
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid var(--text1);
  outline: none;
}
@media (min-width: 768px) {
  .companies {
    background-size: cover;
    background-position: center -675px;
    padding: 5.5rem 0;
  }
  .companies .companies__container .companies__images {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
  }
  .companies .companies__container .companies__content {
    max-width: 50ch;
    margin-inline: auto;
  }
}
@media (min-width: 1440px) {
  .companies {
    background-size: 900px;
    background-position: -214px -498px;
    padding: 6.25rem 0;
  }
  .companies .companies__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .companies .companies__container .companies__images {
    grid-column: 2;
    margin-bottom: 0;
    align-items: center;
    row-gap: 0;
  }
  .companies .companies__container .companies__content {
    text-align: left;
    grid-row: 1;
    margin-inline: 0;
  }
  .companies .companies__container .companies__content h2 {
    margin: 0;
  }
  .companies .companies__container .companies__content p {
    margin: 2.5rem 0 2rem 0;
  }
}

.code .code__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.code .code__container img {
  width: 100%;
  margin-left: 2rem;
}
.code .code__container .code__content {
  text-align: center;
  color: var(--bg-blue-100);
}
.code .code__container .code__content h2 {
  margin-top: 0;
  color: var(--text2);
  font-size: 2.25rem;
}
.code .code__container .code__content p {
  margin-inline: auto;
  line-height: 28px;
  max-width: 37ch;
}
@media (min-width: 768px) {
  .code .code__container img {
    margin-left: 4rem;
  }
  .code .code__container .code__content h2 {
    font-size: 3rem;
    margin-top: 0;
  }
  .code .code__container .code__content p {
    max-width: 63ch;
  }
}
@media (min-width: 1440px) {
  .code .code__container {
    flex-direction: row;
  }
  .code .code__container img {
    margin-left: 0;
  }
  .code .code__container .code__content {
    text-align: left;
  }
  .code .code__container .code__content p {
    max-width: 75ch;
  }
}

.simpleUI {
  margin: 5rem 0;
}
.simpleUI .simpleUI__container {
  display: flex;
  flex-direction: column;
}
.simpleUI .simpleUI__container img {
  margin-left: 2rem;
}
.simpleUI .simpleUI__container .simpleUI__content {
  text-align: center;
}
.simpleUI .simpleUI__container .simpleUI__content h2 {
  color: var(--text2);
  font-size: 2.25rem;
}
.simpleUI .simpleUI__container .simpleUI__content p {
  color: var(--bg-blue-100);
  margin-inline: auto;
  line-height: 28px;
  max-width: 37ch;
}
@media (min-width: 768px) {
  .simpleUI {
    margin: 6.25rem 0;
  }
  .simpleUI .simpleUI__container .simpleUI__content h2 {
    color: var(--text2);
    font-size: 3rem;
  }
  .simpleUI .simpleUI__container .simpleUI__content p {
    max-width: 61ch;
  }
}
@media (min-width: 1440px) {
  .simpleUI {
    background-image: url("/assets/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position-x: 1187px;
    padding: 4rem 0;
  }
  .simpleUI .simpleUI__container {
    flex-direction: row;
    align-items: center;
  }
  .simpleUI .simpleUI__container img {
    margin-left: 0;
    order: 1;
  }
  .simpleUI .simpleUI__container .simpleUI__content {
    margin-left: 2rem;
    text-align: left;
  }
  .simpleUI .simpleUI__container .simpleUI__content h2 {
    color: var(--text2);
    font-size: 3rem;
  }
  .simpleUI .simpleUI__container .simpleUI__content p {
    max-width: 61ch;
  }
}

.services .services__container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 3rem;
  place-items: end;
}
.services .services__container .service__item {
  text-align: center;
  margin-inline: auto;
}
.services .services__container .service__item .service__title {
  font-family: "Public Sans", sans-serif;
  margin-bottom: 1rem;
  color: var(--text2);
  font-size: 1.125rem;
  font-weight: bold;
}
.services .services__container .service__item p {
  color: var(--bg-blue-100);
  max-width: 36ch;
}
@media (min-width: 768px) {
  .services .services__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
    row-gap: 0;
  }
}
@media (min-width: 1440px) {
  .services .services__container {
    -moz-column-gap: 1.8rem;
         column-gap: 1.8rem;
  }
  .services .services__container .service__item p {
    max-width: 38ch;
  }
}/*# sourceMappingURL=index.css.map */