@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100;400&display=swap");

:root {
	--bg-pink-100: hsl(337, 60%, 64%);
	--bg-pink-200: hsl(337, 48%, 49%);
	--bg-body: #edf3f8;
	--bg-blue-100: hsl(207, 16%, 50%);
	--bg-blue-200: #1b262f;

	--text1: #fbfcfe;
	--text2: rgb(55, 84, 109);

	--fs-body: 0.938rem;
	--fs-72: 4.5rem;
	--fs-56: 3.5rem;
	--fs-48: 3rem;
	--fs-32: 2rem;
	--fs-25: 1.6rem;
	--fs-24: 1.5rem;
	--fs-20: 1.25rem;
}

html {
	font-size: var(--fs-body);
	line-height: 28px;
	font-family: "Public Sans", sans-serif;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-body);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
	font-family: "DM Serif Display", serif;
}
.wrapper {
	max-width: 400px;
	padding: 0 16px;
	margin: 0 auto;
}

// 768px
@media (min-width: 768px) {
	body {
		background-size: 1100px 1100px;
		background-position: center -700px;
	}
	.wrapper {
		max-width: 800px;
		padding: 0 39px;
	}
}
// 1440px
@media (min-width: 1440px) {
	.wrapper {
		max-width: 1440px;
		padding: 0 165px;
	}
	body {
		background-size: 900px 900px;
		background-position: 890px -237px;
	}
}
